<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        body {
            background-image: url("https://www.shutterstock.com/image-photo/frame-ripe-avocados-leaves-on-600nw-1495689461.jpg");
            background-size: cover;
        }

        .pd {
            padding-bottom: 45%;
        }
    </style>
</head>
<body>
    <br>
    <center>
        <b class="pd"><font color="black" size="15" font-family="Comic Sans MS">Avocado Harvest Oracle: A Gourmet Journey into Predicting Tomorrow's Green Gold Prices</font></b>
    </center>
    <br><br>
    <div>
        <br>
        <center>
            <h2><font color="black">The Avocado's average price is </h2>
            <h2><font color="black">{{ result }}</h2>
        </center>
    </div>
</body>
</html>
